<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components | Get Started</title>
    <link rel="stylesheet" href="/marketplace_builder/assets/css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js"></script>
  </head>
  <body class="bg-primary-dark py-56">
    <!-- Component Starts Here -->

    <section class="relative pt-12 pb-4 -- bg-clip-get-started">
      <div class="max-w-[1000px] mx-auto px-3 relative z-10 -mt-16">
        <div class="grid items-center grid-cols-12 gap-6">
          <div class="col-span-full md:col-span-4">
            <div class="text-center">
              <img
                class="max-w-[200px] md:max-w-[266px] mx-auto w-full"
                src="https://websitesuccess.mo.cloudinary.net/ws/images/team-pictures/jay-faustino.png"
                alt="Jay"
              />
              <p class="mt-3 font-bold text-primary-dark">
                Jay Faustino - Creative Web Developer
              </p>
            </div>
          </div>
          <div class="col-span-full md:col-span-8">
            <div
              class="py-12 px-7 bg-primary-light rounded-lg relative mb-4 -- has-arrow"
            >
              <h3
                class="uppercase font-black text-primary-dark text-xl sm:text-2xl border-b-2 border-primary-blue pb-2 mb-3 !leading-tight"
              >
                START YOUR JOURNEY TO WEBSITE SUCCESS
              </h3>
              <p class="font-black text-base !leading-tight text-primary-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a
                href="/"
                class="px-3.5 py-2.5 bg-primary-dark text-primary-yellow uppercase inline-block w-fit font-black rounded-full text-base !leading-none transition-colors hover:bg-primary-yellow hover:text-primary-dark absolute right-7 -bottom-4"
              >
                <div class="inline-flex items-center gap-1.5">
                  <span
                    >GET STARTED
                    <span class="hidden md:inline-block"
                      >ON THE BUILD PROCESS</span
                    >
                  </span>
                  <span>
                    <span
                      class="iconify"
                      data-icon="fa-solid:chevron-circle-right"
                    ></span>
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Component Ends Here -->
  </body>
</html>
