<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components | Prev/Next</title>
    <link rel="stylesheet" href="/marketplace_builder/assets/css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js"></script>
  </head>
  <body class="py-8">
    <!-- Component Starts Here -->

    <section>
      <div class="max-w-screen-base mx-auto px-3">
        <div
          class="border-t-2 border-primary-light pt-[50px] pb-[110px] md:py-[75px]"
        >
          <div class="flex justify-between items-center gap-2">
            <a
              class="flex items-center md:items-start gap-2 md:gap-6 max-w-[340px] group"
              href="/"
              title="prev"
            >
              <span class="text-[28px] text-primary-blue md:mt-2">
                <span
                  class="iconify"
                  data-icon="fa-solid:chevron-circle-left"
                ></span>
              </span>
              <div
                class="transition-all text-primary-dark group-hover:text-primary-blue"
              >
                <span class="font-black uppercase md:hidden">Prev</span>
                <p
                  class="font-light text-base !leading-none mb-3 hidden md:block"
                >
                  Sep 11, 2020
                </p>
                <h5
                  class="uppercase font-black text-lg !leading-none hidden md:block"
                >
                  DID YOU KNOW?… WE ARE A GOOGLE PARTNER AND CERTIFIED IN
                  ANALYTICS
                </h5>
              </div>
            </a>
            <a
              class="flex items-center md:items-start gap-2 md:gap-6 max-w-[340px] group"
              href="/"
              title="prev"
            >
              <div
                class="text-right transition-all text-primary-dark group-hover:text-primary-blue"
              >
                <span class="font-black uppercase md:hidden">Next</span>
                <p
                  class="font-light text-base !leading-none mb-3 hidden md:block"
                >
                  Sep 11, 2020
                </p>
                <h5
                  class="uppercase font-black text-lg !leading-none hidden md:block"
                >
                  DID YOU KNOW?… WE ARE A GOOGLE PARTNER AND CERTIFIED IN
                  ANALYTICS
                </h5>
              </div>
              <span class="text-[28px] text-primary-blue md:mt-2">
                <span
                  class="iconify"
                  data-icon="fa-solid:chevron-circle-right"
                ></span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Component Ends Here -->
  </body>
</html>
